* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY*/
.cuerpo{ display: grid;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.5438550420168067) 0%, rgba(43, 63, 143, 0.21332282913165268) 54%, rgba(0, 212, 255, 0) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/*HEADER*/
.encabezado {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
    padding: 5px;
    text-align: center;

}

h1 {
    background-color: gray;
    color: white;
    margin-top: 15px
}

.carousel {
    width: 80%;
    margin: auto;
}

h2 {
    color: white;
    margin-top: 30px;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pie-pagina {
    background-color: rgb(161, 41, 41);
    color: white;
    text-align: center;
    border: solid 5px;
    padding: 50px;
}

.imagen-logo {
    display: flex;
    position: static;
    top: 0%;
    width: 10%;
    border: solid 2px white;
    margin-top: 5px;
    margin-left: 05px;


}

/* LOGO WHATSAPP*/
.logo-Whatsapp {
    width: 5ch;
    position: sticky;
    left: 160ch;
    top: 10%;
    bottom: 20ch;

}

/*IMAGENES*/
.departamentos-nuevos {
    display: flex;
    margin-bottom: 30px;


}

.primera-imagen {
    position: relative;

    width: 33%;
    height: auto;
    left: 4%;
}

.segunda-imagen {
    position: relative;

    width: 33%;
    height: auto;
    left: 4%;
}

.tercera-imagen {
    position: relative;

    width: 24%;
    height: 1%;
    left: 4%;
}

.menu-navegable {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(161, 41, 41)
}

.menu-navegable li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.menu-navegable li a:hover {
    background-color: gray;
}


.contenido {
    color: rgb(161, 41, 41);
    text-align: center;
}

.desarrollos {

    background-color: rgb(161, 41, 41);
    width: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;

    color: white;
    border: solid rgb(161, 41, 41)
}

.desarrollos-direc {
    text-decoration: underline white;
    background-color: rgb(161, 41, 41);
    text-align: center;
    color: white;
    border: solid rgb(161, 41, 41)
}


.imagen-render {
    width: 800px;
    height: auto;
}



.facebook {
    width: 2%;
    height: auto;
    text-align: justify;
}

#mail {
    border: solid;
    border-left: 30%;
    padding-right: 11%;
    padding-left: 10px;

    background-color: #cfc;
}



.clientes {
    display: flex;
    border: solid 4px rgb(201, 198, 198);
    color: rgb(161, 41, 41);
    padding-top: 45px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    justify-content: space-evenly
}

.parrafo-comentarios {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    font-size: larger;
}


.frase-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;


}



.tarjeta {
display: flex;    
background: radial-gradient(circle, rgba(2, 0, 36, 0.5438550420168067) 0%, rgba(43, 63, 143, 0.21332282913165268) 54%, rgba(0, 212, 255, 0) 100%);

color: black;
justify-content: center;
font-size: larger;
}
.experiencia-clientes { background: radial-gradient(circle, rgba(2, 0, 36, 0.5438550420168067) 0%, rgba(43, 63, 143, 0.21332282913165268) 54%, rgba(0, 212, 255, 0) 100%);}

.dormitorios-comprar {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(161, 41, 41);
    justify-content: center;

}

.dorm-1 {
    position: relative;

    width: 10%;
    height: auto;
    left: 15%;
}

.dorm-2 {
    position: relative;

    width: 10%;
    height: auto;
    left: 26%;
}

.dorm-3 {
    position: relative;

    width: 10%;
    height: auto;
    left: 38%;
}

.edificio-construccion {
    position: relative;
    width: 10%;
    height: auto;
    left: 48%;
}

.dorm-1-2-3 {
    display: flex;
    color: rgb(161, 41, 41);
    font-size: larger;
    padding-left: 12%;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

.proyectos-comercializados {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.frase-principal {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.h1-contactos {
    justify-content: center;
    text-align: center;
}
.frase-principal-vender {
    font-size: large;
    text-align: center;
    background-image: url(imagenes/vende\ con\ nsotross.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    padding-top: 5px;
    color: white
}



.formulario {
    color: white;
    font-size: large;
    text-align: center;
    background-color: rgb(163, 41, 41)
}

.Formulario-contacto {
    padding: 25px;
}



.p-box {
    width: 300px;
    margin: 35px 60px;
    padding: 100px;
    font-size: italic;
    background-color: rgb(161, 41, 41);
    color: white;
    display: block;
    text-align: center;
    margin-right: 25px;
}

.cantidad-dormitorios {
    text-align: center;
    padding-bottom:20px;
}

.todos {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
}

.dormitorio1 {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
}

.dormitorios2 {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
}

.dormitorios3 {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
}

.otras-propiedades {
    background-color: rgb(161, 41, 41);
    color: white;
    border: solid;
}

.depto-viamonte {
    position: relative;

    width: 33%;
    height: auto;
    left: 25%;
}

.depto-lima {
    position: relative;

    width: 33%;
    height: auto;
    left: 6%;
}

.calle-lima {
    border: solid white;
    color: red;
    margin-bottom: 10px;
}

.h1 {
    text-align: center;
}

.ubicacion {
    font-size: large;
    background-color: brown;
    justify-content: center;
}

.u {
    background-color: rgb(161, 41, 41);
}

.instagram-contactos {
    width: 2%;
    height: auto;
    text-align: justify;
}

/*MEDIA QUERIES*/
@media screen ( min-width: 361px;) and (max-width: 921) .encabezado {
  
    display:inline-block; }
    
   