/* nesting o anidamineto*/
/* GENERALES*/
/* COMPONENTES*/
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
.parrafo-comentarios, .tarjeta, .frase-principal, .redes, .imagen-contacto, .section h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* HEADER*/
.cuerpo {
  display: grid;
  background: radial-gradient(circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cuerpo .encabezado {
  color: white;
  border: solid;
  padding: 5px;
  text-align: center;
  width: auto;
  height: auto;
}
.cuerpo .imagen-logo {
  display: flex;
  position: static;
  border: solid 2px white;
  margin-top: 5px;
  margin-left: 5px;
}
.cuerpo .menu-navegable {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(161, 41, 41);
}
.cuerpo .menu-navegable li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.cuerpo .menu-navegable li a:hover {
  background-color: gray;
}

/* TERMINA - HEADER*/
/* INICIA - SECTION */
.section {
  justify-content: center;
  margin: auto;
  display: flex;
}
.section h1 {
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}
.section .logo-Whatsapp {
  display: flex;
  position: fixed;
  height: 3.5rem;
  width: auto;
  left: 95%;
  bottom: 0;
  top: 55%;
  z-index: 3;
}

/* INICIA MAIN*/
h1 {
  background-color: gray;
  color: white;
  background-color: gray;
  margin: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.formulario {
  display: flex;
  font-size: large;
  text-align: center;
  background-color: rgb(163, 41, 41);
  color: gray;
  justify-content: center;
}

.Formulario-contacto {
  padding: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.ubicacion {
  display: flex;
  font-size: large;
  background-color: brown;
  justify-content: center;
}

.maps {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 5px;
}

.facebook-contactos {
  display: flex;
  width: 2%;
  height: auto;
  display: inline-block;
  justify-content: center;
}

.instagram-contactos {
  display: flex;
  width: 2%;
  height: auto;
  display: inline-block;
}

.logo-Whatsapp {
  width: 5ch;
  position: sticky;
  left: 160ch;
  top: 10%;
  bottom: 20ch;
}

.logo-contacto {
  width: 5ch;
  position: sticky;
  left: 160ch;
  top: 10%;
  bottom: 20ch;
}

/* FOOTER*/
/* MAPAS*/
.pie-pagina {
  background-color: rgb(161, 41, 41);
  color: white;
  text-align: center;
  border: solid 5px;
  padding: 50px;
}
.pie-pagina .facebook {
  width: 2%;
  height: auto;
}

.parrafo-comentarios, .tarjeta, .frase-principal, .section h1, .imagen-contacto, .redes {
  display: flex;
  text-align: center;
  justify-content: center;
}

/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
.parrafo-comentarios, .tarjeta, .frase-principal, .section h1, .imagen-contacto, .redes {
  display: flex;
  text-align: center;
  justify-content: center;
}

/*VENDER*/
.cuerpo {
  display: grid;
  background-color: circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cuerpo .encabezado {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  text-align: center;
  width: 100%;
  height: auto;
}
.cuerpo .imagen-logo {
  display: flex;
  position: sticky;
  border: solid 2px white;
}
.cuerpo .menu-navegable {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(161, 41, 41);
}
.cuerpo .menu-navegable li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.cuerpo .menu-navegable li a:hover {
  background-color: gray;
}

/* CIERRO HEADER*/
.frase-principal-vender {
  font-size: 30px;
  text-align: center;
  background-color: gray;
  margin: 15px;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 5px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.logo-Whatsapp {
  display: flex;
  position: fixed;
  height: 3.5rem;
  width: auto;
  left: 95%;
  bottom: 0;
  top: 55%;
  z-index: 3;
}

.formulario {
  color: white;
  font-size: large;
  text-align: center;
  background-color: rgb(163, 41, 41);
}

.formulario-completar {
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  padding: 50px;
}

.pie-pagina {
  background-color: rgb(161, 41, 41);
  color: white;
  text-align: center;
  border: solid 5px;
  padding: 50px;
}

/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
.parrafo-comentarios, .tarjeta, .frase-principal, .section h1, .imagen-contacto, .redes {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cuerpo {
  display: grid;
  background-color: circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cuerpo .encabezado {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  text-align: center;
  width: 100%;
  height: auto;
}
.cuerpo .imagen-logo {
  display: flex;
  position: sticky;
  border: solid 2px white;
}
.cuerpo .menu-navegable {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(161, 41, 41);
}
.cuerpo .menu-navegable li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.cuerpo .menu-navegable li a:hover {
  background-color: gray;
}

.logo-Whatsapp {
  display: flex;
  position: fixed;
  height: 3.5rem;
  width: auto;
  left: 95%;
  bottom: 0;
  top: 55%;
  z-index: 3;
}

.frase-principal {
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  padding: 5px;
  color: white;
  background-color: gray;
  margin: 5px;
}

.tarjeta {
  background: radial-gradient(circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%);
  color: rgb(20, 20, 20);
  font-size: x-large;
  padding: 80px;
  margin-bottom: 30px;
}

.cantidad-dormitorios {
  text-align: center;
  padding-bottom: 10px;
}

.dorm-1 {
  position: relative;
  width: 10%;
  height: auto;
  left: 15%;
}

.dorm-2 {
  position: relative;
  width: 10%;
  height: auto;
  left: 26%;
}

.dorm-3 {
  position: relative;
  width: 10%;
  height: auto;
  left: 38%;
}

.edificio-construccion {
  position: relative;
  width: 10%;
  height: auto;
  left: 48%;
}

.dormitorios-comprar {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: rgb(161, 41, 41);
  justify-content: center;
}

.dorm-1-2-3 {
  display: flex;
  color: rgb(161, 41, 41);
  font-size: larger;
  padding-left: 12%;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.desarrollos {
  background-color: rgb(161, 41, 41);
  width: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  color: white;
  border: solid rgb(161, 41, 41);
}

.proyectos-comercializados {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
}

.pie-pagina {
  background-color: rgb(161, 41, 41);
  color: white;
  text-align: center;
  border: solid 5px;
  padding: 50px;
}

/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
.parrafo-comentarios, .section h1, .imagen-contacto, .redes, .frase-principal, .tarjeta {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cuerpo {
  display: grid;
  width: 100%;
  background-color: circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cuerpo .encabezado {
  color: white;
  border: solid;
  padding: 5px;
  text-align: center;
  width: auto;
  height: auto;
}
.cuerpo .encabezado nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) and (max-width: 1200px) {
  .cuerpo .encabezado nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .cuerpo .encabezado nav .imagen-logo {
    display: none;
  }
}
.cuerpo .encabezado nav .imagen-logo {
  display: flex;
  position: relative;
  width: 95px;
  height: 90px;
  border: solid 2px white;
}
@media only screen and (max-width: 590px) and (max-width: 1200px) {
  .cuerpo .encabezado nav .imagen-logo {
    display: none;
  }
}
.cuerpo .encabezado nav .menu-navegable {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(161, 41, 41);
}
.cuerpo .encabezado nav .menu-navegable li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.cuerpo .encabezado nav .menu-navegable li a:hover {
  background-color: gray;
}

.frase-principal {
  background-color: gray;
  margin: 10px;
  padding: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  padding-bottom: 5px;
}
.frase-principal .h1 {
  padding-top: 25px;
}
.frase-principal .logo-Whatsapp {
  display: flex;
  position: fixed;
  height: 3.5rem;
  width: auto;
  left: 90%;
  bottom: 0;
  top: 55%;
  z-index: 3;
}

.cantidad-dormitorios {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
  color: black;
}
.cantidad-dormitorios .todos {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  padding: 5px;
}
.cantidad-dormitorios .dormitorio1 {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  padding: 5px;
}
.cantidad-dormitorios .dormitorios2 {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  padding: 5px;
}
.cantidad-dormitorios .dormitorios3 {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  padding: 5px;
}
.cantidad-dormitorios .otras-propiedades {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  padding: 5px;
}

.depto-lima {
  position: relative;
  width: 33%;
  height: auto;
  left: 6%;
}

.depto-viamonte {
  position: relative;
  width: 33%;
  height: auto;
  left: 25%;
}

.calle-lima {
  display: flex;
  border: solid rgb(182, 175, 175);
  justify-content: center;
  color: rgb(141, 22, 22);
  margin-bottom: 20px;
  margin-top: 10px;
}

.pie-pagina {
  background-color: rgb(161, 41, 41);
  color: white;
  text-align: center;
  border: solid 5px;
  padding: 50px;
}

/* INDEX*/
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MEDIAS - QUERIES*/
@media only screen and (max-width: 479px) {
  .cuerpo {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cuerpo .menu-navegable {
    justify-content: center;
  }
  .cuerpo .proyectos-comercializados {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 960px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 961px) {
  .cuerpo {
    width: 100%;
    height: auto;
  }
}
.parrafo-comentarios, .section h1, .imagen-contacto, .redes, .frase-principal, .tarjeta {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cuerpo {
  display: grid;
  background-color: circle, rgba(2, 0, 36, 0.543855042) 0%, rgba(43, 63, 143, 0.2133228291) 54%, rgba(0, 212, 255, 0) 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.cuerpo .encabezado {
  background-color: rgb(161, 41, 41);
  color: white;
  border: solid;
  text-align: center;
  width: 100%;
  height: auto;
}
.cuerpo .encabezado .imagen-logo {
  display: flex;
  position: sticky;
  border: solid 2px white;
}
.cuerpo .encabezado .menu-navegable {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(161, 41, 41);
}
.cuerpo .encabezado .menu-navegable li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}
.cuerpo .encabezado .menu-navegable li a:hover {
  background-color: gray;
  border-radius: 6px;
  padding: 5px;
}

/* INICIA MAIN*/
.contenido {
  color: rgb(161, 41, 41);
  text-align: center;
  justify-content: center;
  margin: auto;
}
.contenido h1 {
  background-color: gray;
  color: white;
  margin-top: 5px;
  padding: 5px;
}
.contenido .carousel {
  width: 80%;
  margin: auto;
}
.contenido h2 {
  color: white;
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  font-size: 40px;
}
.contenido .logo-Whatsapp {
  display: flex;
  position: fixed;
  height: 3.5rem;
  width: auto;
  left: 93%;
  bottom: 0;
  top: 55%;
  z-index: 3;
}
.contenido .departamentos-nuevos {
  display: flex;
  margin-bottom: 30px;
}
.contenido .departamentos-nuevos .primera-imagen {
  position: relative;
  width: 33%;
  height: auto;
  left: 4%;
}
.contenido .departamentos-nuevos .segunda-imagen {
  position: relative;
  width: 33%;
  height: auto;
  left: 5%;
}
.contenido .departamentos-nuevos .tercera-imagen {
  position: relative;
  width: 24%;
  height: 1%;
  left: 6%;
}

/* FINALIZA MAIN*/
.desarrollos {
  background-color: rgb(161, 41, 41);
  width: 50%;
  text-decoration: none;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
  justify-content: center;
  font-size: 25px;
  color: white;
  border: solid rgb(161, 41, 41);
}
.desarrollos .desarrollos-direc {
  text-decoration: none;
  background-color: rgb(161, 41, 41);
  text-align: center;
  color: white;
  border: solid rgb(161, 41, 41);
}

.parrafo-comentarios {
  text-decoration: underline;
  font-size: larger;
  color: black;
}

.clientes {
  display: flex;
  border: solid 4px rgb(201, 198, 198);
  color: rgb(161, 41, 41);
  padding-top: 45px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.pie-pagina {
  display: inline-block;
  background-color: rgb(161, 41, 41);
  color: white;
  justify-content: space-between;
  text-align: center;
  border: solid 5px;
  width: 100%;
}
.pie-pagina .menu-footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.pie-pagina .ul li a {
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
