@import "../base/variables";
@import "../base/estilos-generales";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixin";


.cuerpo {
    display: grid;
    background-color: $bg-color-cuerpo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-texto;
  
    .encabezado {
      background-color:map-get($header, $bg-color-general);
      color: $color-texto;
      border: solid;
      padding: 5px;
      text-align: $texto-alineado;
      width: auto;
      height: auto;
  
    }
  
    .imagen-logo {
      display: flex;
      position: static;
      top: 0%;
      width: 10%;
      border: solid 2px white;
      margin-top: 5px;
      margin-left: 05px;
  
    }
  
    .menu-navegable {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      text-align: center;
      background-color: $bg-color-general;
    }
  
    .menu-navegable li a {
      text-decoration: none;
      color: $color-texto;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px black;
    }
  
    .menu-navegable li a:hover {
      background-color: gray;
    }
  }

  .frase-principal {
    @extend %flex;
    background-color: gray;
    margin: 10px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: $color-texto;
    padding-bottom: 5px;
    
    .h1 {
      padding-top: 25px;
    }

    
    .logo-Whatsapp {
      width:55px;
      position: sticky;
      margin-right: 20px;
      padding: bottom 0%;
      z-index: 3;
    
      }

  }

  .cantidad-dormitorios {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom:20px;
    color: black;

  .todos {
    background-color: $bg-color-general;
    color: $color-texto;
    border: solid; 
  padding: 5px;}

    .dormitorio1 
    {
      background-color: $bg-color-general;
    color: $color-texto;
    border: solid;
    padding: 5px;
    }
    .dormitorios2 {
      background-color: $bg-color-general;
      color: $color-texto;
      border: solid;
      padding: 5px;
  }
  
  .dormitorios3 {
      background-color: $bg-color-general;
      color: $color-texto;
      border: solid;
      padding: 5px;
  }
  
  .otras-propiedades {
      background-color: $bg-color-general;
      color: $color-texto;
      border: solid;
      padding: 5px;
  }
  }
    .depto-lima {
      position: relative;

    width: 33%;
    height: auto;
    left: 6%;
    }

    .depto-viamonte {
      position: relative;
  
      width: 33%;
      height: auto;
      left: 25%;
  }
.calle-lima {
  display: flex;
  border: solid rgb(182, 175, 175);
  justify-content: center;
    color: rgb(141, 22, 22);
    margin-bottom: 20px;
    margin-top: 10px;
}

.pie-pagina {
  background-color: $bg-color-general;
  color: $color-texto;
  text-align:$texto-alineado;
  border: solid 5px;
  padding: 50px;
}
  

  