@import "../base/variables";
@import "../base/estilos-generales";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixin";




/* HEADER*/
.cuerpo {
    display: grid;
    background: radial-gradient(circle, rgba(2, 0, 36, 0.5438550420168067) 0%, rgba(43, 63, 143, 0.21332282913165268) 54%, rgba(0, 212, 255, 0) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-texto;

    .encabezado {
        background-color:map-get($header, $bg-color-general);
        color: $color-texto;
        border: solid;
        padding: 5px;
        text-align: $texto-alineado;
        width: auto;
        height: auto;
    
      }
    
      .imagen-logo {
        display: flex;
        position: static;
        
        border: solid 2px white;
        margin-top: 5px;
        margin-left: 05px;
    
      }
    
      .menu-navegable {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        text-align: center;
        background-color: $bg-color-general;
      }
    
      .menu-navegable li a {
        text-decoration: none;
        color: $color-texto;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px black;
      }
    
      .menu-navegable li a:hover {
        background-color: gray;
      }
}

/* TERMINA - HEADER*/

/* INICIA - SECTION */
.section {
    justify-content: center;
    margin: auto;
    display: flex;

    h1 {
        
        margin: auto;
        @extend %flex;
        font-family: 'Times New Roman', Times, serif;
    }

    .logo-Whatsapp {
        display: flex;
        position: fixed;
        height: 3.5rem;
        width: auto;
        left: 95%;
        bottom: 0;
        top:55%;
    
        z-index: 3;
    }

}

/* INICIA MAIN*/
h1 {
    background-color: gray;
    color: $color-texto;
   
    background-color: gray;
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}


.imagen-contacto {
    @extend %flex;
}

.formulario {
    display: flex;
    font-size: large;
    text-align: $texto-alineado;
    background-color: rgb(163, 41, 41);
color: gray;
    justify-content: center;
}



.Formulario-contacto {
    padding: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}

.ubicacion {
    display: flex;
    font-size: large;
    background-color: brown;
    justify-content: center;

}
.maps {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
}
.redes {
    @extend %flex;

   

}
.facebook-contactos {
    display: flex;
    width: 2%;
    height: auto;
    display: inline-block;
    justify-content: center;
    
    

}

.instagram-contactos {
display: flex;
    width: 2%;
    height: auto;
    display: inline-block;
 
}

.logo-Whatsapp {
    width: 5ch;
    position: sticky;
    left: 160ch;
    top: 10%;
    bottom: 20ch;

}



.logo-contacto {
    width: 5ch;
    position: sticky;
    left: 160ch;
    top: 10%;
    bottom: 20ch;

}

/* FOOTER*/

/* MAPAS*/
.pie-pagina {

    background-color: $bg-color-general;
    color: $color-texto;
    text-align: $texto-alineado;
    border: solid 5px;
    padding: 50px;




    .facebook {
        width: 2%;
        height: auto;

    }


}