/* INDEX*/

@import "../base/variables";
@import "../base/estilos-generales";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixin";


.cuerpo {
    display: grid;
    background-color: $bg-color-cuerpo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-texto;

    .encabezado {
       
        background-color: $bg-color-general;
        color: $color-texto;
        border: solid;
        text-align: $texto-alineado;
        width: 100%;
        height: auto;
        
            .imagen-logo {
                display: flex;
                position: sticky;
                border: solid 2px white;
        
            }
        
            .menu-navegable {
                display: flex;
                list-style: none;
                width: 100%;
                justify-content: space-evenly;
                text-align: $texto-alineado;
                background-color: $bg-color-general;
            }
        
            .menu-navegable li a {
               
                text-decoration: none;
                color: $color-texto;
                text-transform: uppercase;
                text-shadow: 3px 3px 3px black;
            }
        
            .menu-navegable li a:hover {
                background-color: gray;
                border-radius: 6px;
                padding: 5px;
            }

    
    }

    
}

/* INICIA MAIN*/
.contenido {

    color: rgb(161, 41, 41);
    text-align: center;
    justify-content: center;
    margin: auto;

    h1 {
        background-color: gray;
        color: white;
        margin-top: 5px;
        padding: 5px;

    }

    .carousel {
        width: 80%;
        margin: auto;


    }

    h2 {
        color: $color-texto;
        margin-top: 40px;
        font-family: 'Times New Roman', Times, serif;
        justify-content: center;
        font-size: 40px;
    }


    .logo-Whatsapp {
        width:55px;
        position: sticky;
        margin-right: 20px;
        padding: bottom 0%;
        z-index: 3;
    }

    .departamentos-nuevos {
        display: flex;
        margin-bottom: 30px;


        .primera-imagen {
            position: relative;

            width: 33%;
            height: auto;
            left: 4%;

        }

        .segunda-imagen {
            position: relative;

            width: 33%;
            height: auto;
            left: 5%;
        }

        .tercera-imagen {
            position: relative;

            width: 24%;
            height: 1%;
            left: 6%;

        }
    }

}

/* FINALIZA MAIN*/
.desarrollos {
    background-color: rgb(161, 41, 41);
    width: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
    justify-content: center;
    font-size: 25px;

    color: white;
    border: solid rgb(161, 41, 41);

    .desarrollos-direc {
        text-decoration: underline white;
        background-color: rgb(161, 41, 41);
        text-align: center;
        color: white;
        border: solid rgb(161, 41, 41);
    }

}

.parrafo-comentarios {
    @extend %flex;
    text-decoration: underline;
    font-size: larger;
    color: black;

}

.clientes {
    display: flex;
    border: solid 4px rgb(201, 198, 198);
    color: $bg-color-general;
    padding-top: 45px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    justify-content: space-evenly;

}

.pie-pagina {
    display: inline-block;
    background-color: $bg-color-general;
    color: $color-texto;
    justify-content: space-between;
    text-align: center;
    border: solid 5px;
    width: 100%;

    .menu-footer{
        list-style: none;
        display: flex ;
    justify-content:space-between;
}

        .ul li a {
            justify-content: flex-end;
        }
    

}