@import "../base/variables";
@import "../base/estilos-generales";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixin";


/*VENDER*/

.cuerpo {
  display: grid;
  background-color: $bg-color-cuerpo;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $color-texto;

  .encabezado {
    background-color:map-get($header, $bg-color-general);
    color: $color-texto;
    border: solid;
    padding: 5px;
    text-align: $texto-alineado;
    width: auto;
    height: auto;
  }

  .imagen-logo {
    display: flex;
    position: static;
    top: 0%;
    width: 10%;
    border: solid 2px white;
    margin-top: 5px;
    margin-left: 05px;

  }

  .menu-navegable {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: $texto-alineado;
    background-color: $bg-color-general;
  }

  .menu-navegable li a {
    text-decoration: none;
    color: $color-texto;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
  }

  .menu-navegable li a:hover {
    background-color: gray;
  }
}

/* CIERRO HEADER*/
.frase-principal-vender {
  font-size: 30px;
  text-align: $texto-alineado;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-top: auto;
  color: $color-texto;
  font-family: 'Times New Roman', Times, serif;

  
}
.logo-Whatsapp {
  width: 5ch;
  position: sticky;
  left: 160ch;
  top: 10%;
  bottom: 20ch;

}
.formulario {

  color: $color-texto;
  font-size: large;
  text-align: center;
  background-color: rgb(163, 41, 41);
}
.formulario-completar{
  color: black;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  padding: 50px;
}
.pie-pagina {
  background-color:$bg-color-general;
  color:$color-texto;
  text-align: $texto-alineado;
  border: solid 5px;
  padding: 50px;

}