*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MEDIAS - QUERIES*/ 
@media only screen and ( max-width: 479px) {
    .cuerpo {
        width: 100%;
        margin: 0;
        height: auto;
    
        .menu-navegable {
            justify-content: center;
        }
        .proyectos-comercializados 
        {
            padding-bottom: 25px;
        }
    }
}
@media only screen and ( min-width: 451px) and ( max-width: 960px) {
    .cuerpo {
        width: 100%;
        height: auto;
        
    }
}
@media only screen and ( min-width: 961px) {
    .cuerpo {
        width: 100%;
        height: auto;
    }
}